*.pyc
*.log
*.coverage
.bash_history
.DS_Store
.env
.idea/
.vscode/
.cache/
coverage.xml
data/plugins/generic/miniorange-saml-20-single-sign-on/
htmlcov/
log/
volumes/
*.scssc
*.map
src/*.csv
src/*.csv.*
src/*tmp*.json
src/*.zip
ansible/*.json
ansible/**/*.retry
src/ventilation/*.csv
src/ventilation/hosts/
