@charset "UTF-8";

/*  ---------------------------------------
    01 BASE STYLES
------------------------------------------*/

.visuallyhidden,
.hidden,
.sr-only { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
  border: 0;
}

/* --- Typography --- */

/* General typography settings */

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  background: #fff;
  color: #454545;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 100.01%;
  line-height: 1.4em;
}

* {
  
  &:last-child {
    margin-bottom: 0;
  }
}

/* Body copy */

p {
  line-height: 1.4em;
  margin-bottom: 1em;
  padding: 0;
  
  &:empty {
    display: none;
  }
}

p,
li,
td,
th,
dt,
dd {
  font-size: .8125em;
  font-size: .8125rem /* 13px */;
  line-height: 1.3em;
}

li p,
td p,
th p,
dt p,
dd p,
blockquote p,

li li,
td li
td li,
dt li,
dd li {
  font-size: 1em;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: none;
  color: #000;
  margin-bottom: .75em;
  @include transition-colors;
}

h2,
h3 {
  font-family: "Arial black", Arial, Helvetica, Verdana, sans-serif;
}
h4,
h5,
h6 {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-weight: bold;
}

h1 {
  font-family: Impact, Arial, sans-serif;
  font-size: 1.625em /* 26px */;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2 {
  font-size: 1.6875em /* 27px */;
  line-height: 1.4em;
}
h3 {
  font-size: 1.125em /* 18px */;
  line-height: 1.2em;
}
h4 {
  font-size: .875em /* 14px */;
  line-height: 1.6em;
}
h5 {
  font-size: .8125em /* 13px */;
  line-height: 1.6em;
}

/* Links */

a {
  box-shadow: none;
  color: #000;
  border-bottom: 1px dotted #000;
  text-decoration: none;
  transition: all .3s ease-in-out;
  
  &:hover {
    border-bottom-style: solid;
  }
  
  &:empty {
    display: none;
  }
}

/* Lists */

ul,
ol {
  margin: 1em 0;
  padding-left: 1em;
  
  ul,
  ol {
    margin-top: .375em;
  }
}

li {
  margin-bottom: .375em;
}

dl dt {
  color: #000;
  font-weight: bold;
  position: relative;
  top: 16px;
  width: 160px;
}
dl dd {
  border-left: 1px solid #000;
  margin-left: 160px;
  margin-bottom: 0;
  padding-left: 4px;
}
dl dd + dd {
  padding-top: .375em;
}

/* Misc text elements */

blockquote {
  color: #000000;
  font-family: Georgia,'Times New Roman',Times,serif;
  font-size: .9375em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2em;
  margin: 1em 0;
}
b, strong {
  color: #000;
}

abbr,
acronym {
  border: none;
  text-decoration: none;
}

/* --- Forms --- */

button,
input,
select,
textarea,
label {
  font-size: .8125rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  background: #fff;
  border-radius: 0;
  padding: .4em;
}

button,
input[type="button"],
input[type="submit"] {
  @include transition-colors;
  background: #999c98;
	border-radius: 0;
	padding: .75em 1.25em;
	
	&:hover,
	&:focus {
  	background: $primary-color;
	}
}

/* --- Grid and structure --- */

.grid {
  @include clearfix;
}
