@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td, p{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #fff;
    color: #454545;
    margin: 0 8px 24px 8px;
    padding:0.1px; /* FF3 */
}
h1{ font-family: Impact, "Arial Black","DejaVu Sans", Arial, Helvetica , sans-serif;
    font-size: 27px;
    color: #000;
    line-height: 32px;
    letter-spacing:.08em;
    padding-top:29px;
    padding-bottom: 6px;
    text-transform:uppercase;
}
h2 {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #000;
    letter-spacing: 0;
    line-height: 38px;
    padding-bottom: 6px;
 }
h3 {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    font-size:18px;
    letter-spacing:1px;
    line-height:22px;
    padding-bottom:0;
    margin-bottom:0;
}
.content h3 { margin: 20px 35px 4px 0;}
h4 { color: #000; font-family: Arial, Helvetica, sans-serif;
     font-weight: bold; font-size: 15px; margin-bottom: 0;
     line-height: 19px; padding-bottom:0;}
.content h4 { margin-top:15px; }
h5 { color: #000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px; margin-top: 5px;}
h6 { color: #000; font-weight: bold;}


p { margin-bottom: 9px; margin-top:9px; color: #454545; }
form { margin-bottom: 18px;}


a { text-decoration: none; color: #000; background: url("../img/underline.gif") repeat-x 0 14px; }
a:hover { background-image: url("../img/underline-hover.png"); }

/*a { text-decoration: none; color: #000; border-bottom: 1px dotted #000; }
a:hover { border-bottom: 1px solid #000; }
*/

h1 a { background: none; text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { background: none; color:#ae0010;}
h3 a { background-position: 0 22px; }
h4 a { background-position: 0 16px; }

b, strong { color: #000; font-weight: bold;}
i, em { font-style: italic; }
hr { color: #000; background-color: #000; height: 1px; border: none; padding: 0; margin: 20px 0 20px 0;}
blockquote img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    float: left;
}
blockquote p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style:italic;
    font-weight:bold;
    line-height:18px;
    top: -1px;
    position: relative;
    display: block;
    color: #000;
}
pre, code {
    font-family: Monaco, "Andale Mono", "Courier", "Lucida console", "Consolas", "Bitstream Vera Sans Mono", "Nimbus Mono L", monospace;
    font-size: 10px;
}
pre {display: block; white-space: pre; margin-bottom: 20px;}
dl dt { position: relative; left: 0; top: 16px; width: 160px;
        color: #000; font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; font-size: 13px; line-height: 18px;}
dl dd { border-left: 1px solid #000; margin-left: 160px; padding-left: 4px; margin-right:35px;}

object { z-index: 0; }
cite { font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic; letter-spacing: 1px; font-size: 11px;}

sup, sub { font-size: 11px; }
acronym, abbr {color:#ae0010; text-decoration: none;}

/* Standard format for tables */

.content table { width:100%; border-collapse:collapse; }
.content table td {
    vertical-align:top;
    line-height:18px;
    padding:1px 3px 1px 3px;
}
.content table th {
    font-weight:bold;
    color:black;
    text-align:left;
    padding:1px 3px 1px 3px;
    vertical-align:top;
}

.content caption {
    text-align:center;
    font-weight:bold;
    font-size:1.1em;
    color:black;
    margin-bottom:8px;
    margin-top:8px;
}

table.table-cours td {padding: 0 2px 0 2px;}
table.table-cours th {padding: 0 2px 0 2px;}

/* Proposition one */
.content .table { border-collapse: collapse; border-spacing: 0; margin-bottom:20px; margin-top:10px; width: 100%;}
.content .table th {
    padding: 4px 4px 4px 0; color: #000; font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; font-size: 13px; line-height: 15px; text-align: left;
    border-bottom: 1px solid #000;}
.content .table td { 
    padding: 4px 4px 7px 0; vertical-align: top;
    background: url("../img/underline.gif") repeat-x 0 bottom;
    line-height: 15px;
}

/* Proposition two */
.content .table2 {
    margin: 0;
    border-collapse:collapse;
    width:100%;
}
.content .table2 th {
    padding: 3px 3px 3px 5px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:left;
    border:solid 1px #000;
    line-height:18px;
}
.content .table2 td {
    padding: 3px 3px 3px 5px;
    vertical-align:top;
    line-height:18px;
    border:dotted 1px #000;
}

.sti{ color:#8972d5;}
.enac{color:#ea5e00;}
.cdm{color:#990165;}
.cdh{color:#daa521;}
.sv{color:#6fba01;}
.sb{color:#007ba5;}
.ic{color:#1bb5b5;}

.black { background-color: #000; }

.local-color {background-color: #ae0010; color: #fff;}
.local-color a, .local-color-down a, .local-color-light a, .local-color-dark a { color: #fff; }
.local-color strong {color:#fff;}
.local-color-text {color:#ae0010;}
.local-color-down{ background-color: #e2001a; color: #fff; }
.local-color-light{ background-color: #7e000c; color: #fff; }
.local-color-dark{ background-color: #5d0009; color: #fff; }
.hidden{ position: absolute; left: -999em;}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.heading {
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 13px;
    color: #000;
}
.heading a{ background-position: 0 14px; }

.clear {clear:both; display:block; visibility:hidden; width:0; height:0;}
.noSpacing, .content .noSpacing {padding:0; margin:0;}
.noSpacing a, .content .noSpacing a {background:none;}

.label {font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px; letter-spacing: 1px; font-style: italic; background: url("../img/underline.gif") repeat-x 0 14px; cursor: pointer;}
.button { float: left; margin-right: 20px; cursor: pointer;}
.button .label {display: block; float: left; margin-top: 3px; }
.button:hover .label { background-image: url("../img/underline-hover.png"); }



.icon {float: left; background: url(../img/icons-all.png) no-repeat; height: 24px; width: 24px; margin-right: 4px; border: none; cursor: pointer;}

.print .icon {background-position: 0 0; }
.print:hover .icon {background-position: 0 -24px;}
.feed .icon {background-position: -24px 0; }
.feed:hover .icon {background-position: -24px -24px; }
.share .icon {background-position: -48px 0; }
.share:hover .icon {background-position: -48px -24px; }
.information .icon {background-position: -72px 0; }
.information:hover .icon {background-position: -72px -24px; }
.question .icon {background-position: -96px 0; }
.question:hover .icon {background-position: -96px -24px; }
.contact .icon {background-position: -120px 0; }
.contact:hover .icon {background-position: -120px -24px; }
.comment .icon {background-position: -144px 0; }
.comment:hover .icon {background-position: -144px -24px; }
.mail .icon {background-position: -168px 0; }
.mail:hover .icon {background-position: -168px -24px; }
.first .icon {background-position: -192px 0; }
.first:hover .icon {background-position: -192px -24px; }
.last .icon {background-position: -216px 0; }
.last:hover .icon {background-position: -216px -24px; }
.previous .icon, .gotostart .icon {background-position: -240px 0; }
.previous:hover .icon, .gotostart:hover .icon {background-position: -240px -24px; }
.forward .icon, .showall .icon {background-position: -264px 0; }
.forward:hover .icon, .showall:hover .icon {background-position: -264px -24px; }
.up .icon, .gototop .icon {background-position: -288px 0; }
.up:hover .icon, .gototop:hover .icon {background-position: -288px -24px; }
.down .icon {background-position: -312px 0;}
.down:hover .icon {background-position: -312px -24px;}
.file .icon {background-position: -336px 0; }
.file:hover .icon {background-position: -336px -24px; }
.pdffile .icon {background-position: -360px 0; }
.pdffile:hover .icon {background-position: -360px -24px; }

.bs .icon {background-position: 0 -480px; }
.ms .icon {background-position: -24px -480px; }
.phd .icon {background-position: -48px -480px; }

.associations .icon {background-position-y: -72px;}
.associations:hover .icon {background-position-y: -48px;}
.cdm .icon {background-position-y: -120px;}
.cdm:hover .icon {background-position-y: -96px;}
.cdh .icon {background-position-y: -168px;}
.cdh:hover .icon {background-position-y: -144px;}
.sv .icon{background-position-y: -216px;}
.sv:hover .icon {background-position-y: -192px;}
.sti .icon {background-position-y: -264px;}
.sti:hover .icon {background-position-y: -240px;}
.ic .icon {background-position-y: -312px;}
.ic:hover .icon {background-position-y: -288px;}
.sb .icon {background-position-y: -360px;}
.sb:hover .icon {background-position-y: -336px;}
.enac .icon {background-position-y: -408px;}
.enac:hover .icon {background-position-y: -384px;}
.inter .icon {background-position-y: -456px;}
.inter:hover .icon {background-position-y: -432px;}

.members .icon{ background-position: -72px -480px;}

/* Study plan icons 
to be removed when jahia automaticvally includes plancours.css
*/
.diet_icon {float: left; background: url(../img/icons-plancours.png) no-repeat; height: 18px; width: 14px; margin-right: 0; border: none;}
.little_icon {float: left; background: url(../img/icons-plancours.png) no-repeat;  height: 18px; width: 18px; margin-right: 1px; border: none;}
.img_legende{ margin-right: 2px;}

.francais .diet_icon {background-position: -90px 0;}
.anglais .diet_icon {background-position: -108px 0;}
.allemand .diet_icon {background-position: -72px 0;}
.italien .diet_icon {background-position: -148px 0;}
.franglais .diet_icon {background-position: -166px 0;}



.winter .little_icon {background-position: -54px 0;}
.sun .little_icon {background-position: -18px 0;}
.printemps .little_icon {background-position: 0 0; }
.automne .little_icon {background-position: -36px 0; }



/***************************** Header 2013 **************************************/
#header2013 {
    margin-left: auto; margin-right: auto; width: 980px; padding: 0 8px; background-color: #fff;
}
#header2013 a{ background: none; }

#header2013 #nav-logo {background: none; height:46px; border-bottom: none; padding-top: 8px; margin-bottom: 11px;}
#header2013 #nav-logo a {background: none;}
#header2013 #main-menus li{
    background-color: #fff;
}
#header2013 #main-menus li.menu {
    height: 35px;
    padding-bottom: 25px;
}
#header2013 #nav-menus a.main-link {
    color: #000;
    font: bold 14px/11px Arial, helvetica, sans-serif;
    top: 8px; left: 0; bottom: auto;
    border-left: 4px solid black;
    background: none;
    padding-left: 8px;
    position: absolute;
}
#header2013 #nav-menus a.main-link:after{
    content:'\00A0'; height:6px; width:6px;
    background:url(../img/sprites-arrow.png) no-repeat; 
    position:absolute; bottom:0; right:2px;
}
#header2013 .navigation-panel {
  top: 60px;
  padding-top: 40px;
}

/*#header2013 #nav-menus li.menu:hover a.main-link:after{
    background:url(../img/sprites-arrow.png) no-repeat 0 -8px; 
}

#header2013 #nav-menus li.menu:hover {
    background-color: #000;
    color: #fff;
}

#header2013 #nav-menus li.menu:hover > a, 
#header2013 #nav-menus li.menu:hover > a > acronym{
    color: #fff;
}*/

#header2013 #nav-menus a.main-link span {
    font-size: inherit;
    margin-bottom: 5px; 
}
#header2013 #nav-menus a.main-link acronym {
    color: #000; margin-bottom: 5px; display: block;
}

#header2013 #nav-search { height: 60px;}
#header2013 #search-box { margin: 10px 0 0 0;  bottom: auto;}

#header2013 input.search{
    width: 162px;
    height: 23px;
    line-height: 23px;
    padding: 0 8px 0 8px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
    border-right: none;
    float: left;
}
#header2013 .search-filter {
    float: left;
    width: 120px; height: 23px;
    border-color: #000;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background: #fff url(../img/sprites.png) no-repeat 0 0;
    padding-left: 0;
    line-height: 23px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
}
#header2013 .search-button{
    background-image: url(../img/magnifier.png);
    width: 25px; height: 25px;
    cursor: pointer;
    vertical-align: bottom;
    text-indent: -999em;
    border: none;
    float: left;
}
#header2013 .selected-field {
  display: block;
  padding-left: 8px;
  background: url(../img/sprites.png) no-repeat -261px 0;
}
#header2013 .selected-field:hover {
    background: #000 url(../img/sprites.png) no-repeat -261px -25px;
    color: #fff;
}

#header2013 .search-filter .menu {
    width: 144px;
    position: absolute;
    left: -1px; top: 24px;
    z-index: 9999;
    padding: 4px 0 4px 0;
    border: 1px solid #000;
    border-top: none;
    background: #fff none;
    list-style-type: none;
    line-height: 18px;
    font-weight: normal;
    color: #000;
}
#header2013 .search-filter .menu label { display: block; padding: 1px 7px; cursor: pointer;}
#header2013 .search-filter .menu label:hover, 
#header2013 .search-filter .menu label:hover abbr, 
#header2013 .search-filter .menu label:hover acronym { background-color: #000; color: #fff; }
#header2013 .search-filter .menu.hidden{ position: absolute; left: -999em;}
#header2013 .search-filter .menu li { 
    display: list-item; float: none; margin-bottom: 0;
    border-bottom: 1px solid #fff; /* MSIE 6 */
    list-style-image: none;
    margin-left: 0;}
#header2013 .search-filter .menu input { margin-right: 4px; }
#header2013 #header_searchform .ui-autocomplete {
    top : 57px ;
    width:297px ;
    cursor: pointer;
}
#header2013 .ac-more{float:right;
	 font: italic bold 12px/16px Georgia,'Times New Roman',Times,serif;
         background: url("../img/underline.gif") repeat-x 0 14px;
         padding: 0; margin-right: 4px;
}
#header2013 .ac-more:hover { background-image: url("../img/underline-hover.png"); }




/**************************** Header definition *******************************/
#header{ margin-left: auto; margin-right: auto; width: 980px; padding: 0 8px; background-color: #fff;}
#header a{ background: none; }
#header input{ color: #666;}
#header input.focused{ color: #000; }
.portal{ background-color: #999c98; /* light gray */ }
.school{ background-color: #696f6e; /* dark gray */}
.short{ background-color: #474e52; /* darker gray */}

#nav-logo {
    float: left; height: 73px; width: 160px; position: relative; margin: 0 4px 0 0;
    background: url(../img/epfl.png) no-repeat 0 7px; border-bottom: 1px solid #474e52; /* darker gray */ }
#nav-logo a{ display: block; width: 160px; height: 73px;}
#main-menus { list-style: none; padding: 0; margin: 0;}
#main-menus li.menu { float: left; height: 74px; width: 160px; position: relative; cursor: pointer; }
#main-menus li.menu:hover { border-bottom: 1px solid #fff; margin-bottom: -1px;} /* bug FF4 */
#main-menus li.menu .navigation-panel {cursor: default;}
#nav-menus{ margin-right: 4px; padding: 0; float: left;}
#nav-menus li.menu:hover { background-color: #fff; color: #000;}
#nav-menus a.main-link {
    color: #fff; background: url(../img/arrow-menu.gif) no-repeat bottom right;
    position: absolute;
    bottom: 8px; left: 8px; padding-right: 12px;
    font-family: Impact, "Arial Black","DejaVu Sans", Arial, Helvetica , sans-serif;
    font-size: 22px; letter-spacing: 0.1em; text-transform: uppercase; 
    line-height:18px; font-weight:normal;}
#nav-menus a.main-link acronym { color: #fff; }
#nav-menus li.menu:hover a.main-link { background-image: url(../img/arrow-menu-on.gif); color: #000;}
#nav-menus li.menu:hover a.main-link acronym{ color: #000;}

#nav-menus a.main-link span { display: block; margin-bottom: 4px; font-size: 18px; }
#nav-menus a.main-link:hover{ background-image: url(../img/arrow-menu-on.gif);}
#nav-menus a.main-link:active{ background-image: url(../img/arrow-menu-on.gif);}
#public-menu-link { margin-right: 4px; font-weight: normal;}
#school-menu-link { margin-right: 4px; font-weight: normal;}
#brief-menu-link { font-weight: normal}
#nav-search {
    float: left;
    height: 74px; width: 324px; margin: 0;
    position: relative;
}
#search-box { margin: 0 8px; padding: 0; position: absolute; bottom: 8px; }
#search-box acronym { color: #fff; }
#searchform label{
    display: block;
    float: left;
    width:77px; height:28px;
    padding-top: 3px;
    margin-right: 0; margin-bottom: 5px;
    overflow:hidden;
    text-align:center;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, helvetica, sans-serif;
    color:#fff;
}
#searchform {margin: 0;}
#searchform label:hover {cursor: pointer;}
#searchform label.current{
    font-weight:bold;
    background:url(../img/wheretosearch.gif) no-repeat top left;}
#searchform input.search{
    width: 277px;
    height: 22px;
    line-height: 22px;
    border: none;
    border-right: 1px solid #b8b8b8;
    padding: 0 0 0 8px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#searchform button{
    background: url(../img/search.png) no-repeat top left;
    width: 22px; height: 22px;
    cursor: pointer;
    border: none;
    vertical-align: bottom;
    text-indent: -999em;
}
.navigation-panel {
    position: absolute;
    top: 74px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 8px 0 8px;
    border: none;
    background-color: #fff;
    z-index: 1; /* was 999 */
}
.navigation-panel .group {
    float: left;
    width: 160px;
    margin-right: 4px;
    padding: 0;
}

.navigation-panel ul { list-style: none; padding: 0; margin-bottom: 28px; }
.navigation-panel a{ font-family: Arial, helvetica, sans-serif; font-size: 13px; font-weight: bold;}
.navigation-panel a:hover { text-decoration: underline;}
.navigation-panel h3 {
    margin:0 0 4px 0; padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px; line-height:14px; font-weight: bold; letter-spacing:.05em;
}
.navigation-panel .group-2-cols { float: left; width: 324px; margin-right: 4px; }
.navigation-panel .last { margin: 0; }

#public-panel {left: -172px;}
#public-panel.hidden { left: -999em; }
#public-panel h3 a { color: red;}

#school-panel { left: -336px;}
#school-panel.hidden { left: -999em; }
#school-panel h3 acronym { color: #454545;}

#brief-panel { left: -500px; }
#brief-panel.hidden { left: -999em; }
#brief-panel acronym { color: #000;}
#brief-panel h3 { color: red;}
#brief-panel h3 acronym { color: red;}
#brief-panel h3 a { color: red;}
#brief-panel .large { width: 320px; margin-right:0; }

#breadcrumbs, #languages{
    padding: 2px 0 0 0;
    font-family: Arial, helvetica, sans-serif;
    letter-spacing: 0;
    font-size: 11px;
    font-weight: normal;
    margin-top: 4px;
}
#breadcrumbs { float: left; }
#breadcrumbs li{
    display:inline;
    padding-right: 12px;
    position: relative;
}
#breadcrumbs li:before { 
    content:'\00A0'; width: 4px; height: 7px;
    position:absolute; left:-8px; bottom: 2px;
    background: url(../img/separator.png) no-repeat;
}
#breadcrumbs li:first-child:before {
    content:''; background: none;
}

#breadcrumbs a { color: #000; background: none;}
#breadcrumbs a:hover, #languages a:hover { text-decoration: underline}
#breadcrumbs .last a {color:black; font-weight:bold; background: none }
#breadcrumbs .last {color:black; font-weight:bold;}

#languages { float:right; background:none; }
#languages li { background:none; display:inline-block; padding:0 0 0 20px;  position: relative; }
#languages li:before {
    content:'\00A0'; width: 11px; height: 11px;
    position:absolute; left:3px; top: 5px;
    background: url(../img/slash.png) no-repeat;
    
}
#languages li:first-child:before {
    content:''; background: none;
}


#languages a { background:none; color: #696f6e;}
#languages .current { color:black; font-weight: bold;}


#social-networks { float:right; margin-right:8px; }
#social-networks .icon {
    width:16px; height:16px; 
    margin: 4px 0 1px 2px;
    background: url(../img/social-networks.png);}
#social-networks .facebook {background-position: 0 0;}
#social-networks .twitter {background-position: 16px 0;}
#social-networks .youtube {background-position: 32px 0;}
#social-networks .googleplus {background-position: 48px 0;}
#social-networks .linkedin {background-position:64px 0;}



/****************************** Interface Elements ****************************/
.dropdown {
    height: 18px; padding: 2px 18px 0 8px; margin-right: 2px;
    border: 1px solid #b8b8b8;
    background: url(../img/homepage-icons.png) no-repeat right -1px;
    position: relative; /* placement of drop menu */
    z-index: 2000;
}
.dropdown:hover { border-color: #000; background: url(../img/dropdown.png) no-repeat right -20px;}
.dropdown:hover a { color: #fff; }
.dropdown a { color: #000; background: none; font-weight: bold} /* title of dropdown */
.dropdown acronym, .dropdown abbr { color: #000; }

.dropdown .menu {
    width: 178px;
    position: absolute;
    left: -1px; top: 20px;
    z-index: 900;
    padding: 6px 0 2px 0;
    border: 1px solid #b8b8b8;
    background: #fff none;
    list-style-type: none;
    line-height: 18px;
}
.dropdown .menu a { display: block; padding: 0 7px; font-weight: normal; color: #000;}
.dropdown .menu a:hover, .dropdown .menu a:hover abbr, .dropdown .menu a:hover acronym { background-color: #000; color: #fff; }
.dropdown .menu.hidden{ position: absolute; left: -999em;}
.dropdown .menu li { display: list-item; float: none; margin-bottom: 0;
                     border-bottom: 1px solid #fff; /* MSIE 6 */}
.dropdown .menu ul { margin-top: 0; margin-bottom: 2px; padding: 0; }
.dropdown .menu ul li{ margin-bottom: 0; }
.dropdown .menu ul li a{ font-weight: normal; }


.tree { margin-bottom: 40px; font-weight: bold; }
.tree li {list-style-type: none;
          border-bottom: 1px solid #fff;
          border-top: 1px solid transparent; /* MSIE 6... */
          background-color: #ae0010;}
.tree li.last {border-bottom: none; }
.tree li.hover { background-color: #7e000c; }
.tree li.current.hover { background-color:#000; color: #fff; }
.tree a { background: none; display: block; clear: right;
          margin: 0 0 0 20px; padding: 1px 0 0 0;
          position: relative; width: 298px; }
.tree a:hover {background: none;} /*MSIE 6*/
.tree li a{left: 0;}
.tree .hitarea {
    height: 19px; width: 18px;left: 0;float: left; position: relative;
    cursor: pointer; background: url(../img/vertical-nav.gif) no-repeat 0 0; }
.tree .expandable-hitarea{ background-position: 0 -1px; }
.tree .collapsable-hitarea{ background-position: -16px -1px;}
.tree ul { background-color: #fff; }
.tree ul li {background-color: #fff; color: #000; border-top: 1px solid #a3a3a3; border-bottom: none; }
.tree ul li.hover { background-color: #cfd0ca;}
.tree ul li:first-child { border-top: 1px solid #fff;}
.tree ul li li { border-color: #fff;}
.tree ul a { color: #000;}
.tree ul .expandable-hitarea{ background-position: -32px -1px;}
.tree ul .collapsable-hitarea {background-position: -48px -1px;}
.tree ul .hitarea, .tree ul a { left: 14px; position: relative;}
.tree ul a { width: 288px; }
.tree ul ul .hitarea, .tree ul ul a { left: 28px; }
.tree ul ul a { width: 274px; }
.tree ul ul ul .hitarea, .tree ul ul ul a { left: 42px; }
.tree ul ul ul a { width: 260px; }
.tree ul ul ul ul .hitarea, .tree ul ul ul ul a { left: 56px; }
.tree ul ul ul ul a { width: 246px; }
.tree ul ul ul ul ul .hitarea, .tree ul ul ul ul ul a { left: 70px; }
.tree ul ul ul ul ul a { width: 232px; }
.tree ul ul ul ul ul ul .hitarea, .tree ul ul ul ul ul ul a { left: 84px; }
.tree ul ul ul ul ul ul a { width: 218px; }
.tree ul ul ul ul ul ul ul .hitarea, .tree ul ul ul ul ul ul ul a { left: 98px; }
.tree ul ul ul ul ul ul ul a { width: 204px; }
.tree ul ul ul ul ul ul ul ul .hitarea, .tree ul ul ul ul ul ul ul ul a { left: 112px; }
.tree ul ul ul ul ul ul ul ul a { width: 190px; }
.tree ul ul ul ul ul ul ul ul ul .hitarea, .tree ul ul ul ul ul ul ul ul ul a { left: 126px; }
.tree ul ul ul ul ul ul ul ul ul a { width: 176px; }
.tree ul ul ul ul ul ul ul ul ul ul .hitarea, .tree ul ul ul ul ul ul ul ul ul ul a { left: 140px; }
.tree ul ul ul ul ul ul ul ul ul ul a { width: 162px; }
.tree li.current { background-color:#000; color: #fff; }
.tree li.current a {color: #fff;}
.tree li.current li a {color: #000;}
.tree li.current .expandable-hitarea{ background-position: 0 -1px; }
.tree li.current .collapsable-hitarea{ background-position: -16px -1px;}
.tree li.current li .expandable-hitarea{ background-position: -32px -1px;}
.tree li.current li .collapsable-hitarea {background-position: -48px -1px;}

.toggler{
    cursor: pointer;
    background: url(../img/vertical-nav.gif) no-repeat -42px -2px;
    padding-left: 12px;
}
.toggler a {background-color: #fff}
.toggler:hover a{background-image: url("../img/underline-hover.png");}
.toggled-active {background-position: -55px;}

.modal-window {
    /* must be initially hidden */
    display:none;
    
    /* place overlay on top of other elements */
    z-index:10000;
    border:1px solid #666;
    background-color: #fff;
    padding: 4px;
    min-height: 20px;
}

/* close button positioned on upper right corner */
.modal-window .close {
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
    background: url(../img/close.png) 0 0;
}

/* calendar root element (http://flowplayer.org/tools/dateinput/index.html#skinning) */
#calroot {
    z-index:10000;
    margin-top:-1px;
    width:198px;
    padding:2px;
    background-color:#fff;
    font-size:11px;
    border:1px solid #ccc;
    -moz-box-shadow: 0 0 15px #666;
    -webkit-box-shadow: 0 0 15px #666;  
}
#calhead {padding: 2px 0; height:22px; } 
#caltitle {
    float: left; width: 155px;
    font-size: 13px; font-weight: bold; line-height: 20px; text-align: center;
}
#calnext, #calprev {
    background: url(../img/vertical-nav.gif) no-repeat -65px 0; 
    display:block; width:20px; height:20px;
    float:left;
    cursor:pointer;
}
#calnext { background-position: -34px 0; float:right; }
#calprev.caldisabled, #calnext.caldisabled { visibility:hidden; }
#caltitle select { font-size:10px;}
#caldays { height:14px; border-bottom:1px solid #ddd; }
#caldays span {
    display:block; float:left; width:28px;
    text-align:center;
}
#calweeks { background-color:#fff; margin-top:4px; }
.calweek { clear:left; height:22px;}
.calweek a {
    display:block; float:left; width:27px; height:20px;
    margin-left:1px;
    text-align:center; color:#666;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:none;
} 
.calweek a:hover, .calfocus { background-color:#ddd; }
a.calsun { color:#e2001a;}
a.caloff { color:#ccc; }
a.caloff:hover { background-color: #f5f5fa;}
a.caldisabled {
    background-color:#efefef !important;
    color:#ccc  !important; cursor:default;
}
#calcurrent { background-color: #000; color: #fff; }
#caltoday { border: 1px solid #aaa; height: 18px; }


.tooltip {
    display: none;
    z-index: 99999;
    border: 1px solid black;
    background-color: #fff;
    color: #000;
    padding: 8px;
    -moz-box-shadow: 2px 2px 3px #999c98;
    -webkit-box-shadow: 2px 2px 3px #999c98;
    box-shadow: 2px 2px 3px #999c98;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999c98')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999c98');
    position:relative;
}
.tooltip.bottom:after {
   content: url("../img/bubble_arrow_top.png");
   position: absolute;
   top: -10px;
   left: 10px;
}
.tooltip.top:after {
   content: url("../img/bubble_arrow_down.png");
   position: absolute;
   bottom: -20px;
   left: 10px; 
}

.modal {
    display:none;
    border: 1px solid #474e52;
    background-color: #fff;
    min-width: 324px;
    padding: 0;
}

.modal h3 {
    margin: 0 0 20px 0; 
    background-color:#474e52; 
    color: #fff; 
    padding: 2px 8px 2px 8px; 
    font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 15px; 
    line-height: 19px; 
}
    
.modal form {margin: 0;}
.modal .modal-content { padding: 4px 8px; }
.modal .navigation-bar{ margin: 20px 0 0 0; width: auto; }
.modal .navigation-bar .right { float: right; margin-right: 4px; }
.modal .default { font-weight: bold; }

/******************************** Navigation **********************************/
.navigation-bar {
    width: 980px;
    margin-bottom: 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}
.navigation-bar .group { float: left; margin: 0 24px 0 8px;}

ul.topnav{ float: left; position: relative; padding: 0; z-index: 3000;}
ul.topnav li{ list-style-type: none; position: relative; display: inline; float: left; }
#main-navigation { background-color:#ae0010; }
#main-navigation a {
    color : #fff; display: block;
    padding: 4px 8px 2px 8px;
    background: none;}
#main-navigation li {
    border: none;
    border-left: 1px solid #ae0010;
    border-right: 1px solid #ae0010;
}
#main-navigation .dropdown {
    top: 0; height: 20px;
    margin-right: 0; padding: 4px 8px 0 8px;
    background: none;
}
#main-navigation .dropdown:hover { border-bottom: 1px solid #fff; margin-bottom: -1px;} /* bug FF4 */
#main-navigation:first-child .dropdown { border-left: none;}
#main-navigation li:hover { border-color: #fff; background-color: #7e000c; }
#main-navigation .dropdown.inpath, #main-navigation .dropdown.current { border-color: #fff; background-color: #000; }
#main-navigation .dropdown a{padding: 0; color: #fff; }
#main-navigation .dropdown:hover a{ color: #fff;  }
#main-navigation .dropdown .menu {left: 0; top: 24px; padding-bottom: 4px; padding-top:12px; width: 320px; border-color: #000; border-top: none;}
#main-navigation .dropdown .menu li {border: none; margin-bottom:1px;}
#main-navigation .dropdown .menu li:hover {background: none;}
#main-navigation .dropdown .menu li.current a { color: #fff; background-color: #000;}
#main-navigation .dropdown .menu.hidden {left: -999em;}
#main-navigation .dropdown .menu a { padding-left: 7px; display: block; color: #000; font-weight: bold; }
#main-navigation .dropdown .menu ul a { color: #000; font-weight: normal; }
#main-navigation .dropdown .menu ul {margin-bottom: 12px;}
#main-navigation .dropdown .menu a:hover { color: #000; background-color: #cfd0ca;}

/* autocomplete dropdown */
#searchfield {z-index: 9999; position: relative; }
#searchform .ui-autocomplete {
    top : 57px ;
    width:306px ;
    cursor: pointer;
}

.ui-menu {
    display: block; position: absolute; float: left;
    list-style: none outside none;
    margin:0; padding: 12px 0 4px 0;
    
    background-color: #fff;
    border: 1px solid #000; border-top: none;
}
.ui-menu a {color: #000; padding-left: 7px; display: block;}
#ui-active-menuitem, #ui-active-menuitem .highlight,.ui-menu .ui-menu-item #ui-active-menuitem {
    background-color: #cfd0ca;
}





/******************************* Main content *********************************/
#main-content{ margin-left: auto; margin-right: auto; width: 980px; }
.three-cols #tools, .single-col #tools { border-bottom: 1px solid #000; margin-bottom: 4px; }
.three-cols .content, .single-col .content { border-top: none; padding-top: 0;}
.three-cols .content { width: 980px;}


#tools{ height: 28px; }

.content{
    float: left; width: 652px; overflow: hidden;
    margin-right:4px; margin-bottom: 20px;
    border-top: 1px solid #000; padding-top: 0;
    min-height: 400px;
}
.right-col{ width: 324px; float:left; padding: 0;}
.right-col .box {margin-right: 0; }
.content .home-navpanel{float: left; margin-right: 4px;}
.content .last-col{margin-right: 0;}
.content p { margin-right: 35px;}
.content blockquote p{margin-right: 35px;}

.content ol, .content ul { margin: 5px 35px 0 0; display:block;}

.content li ol, .content li ul {
    margin: 5px 0 0 0;
    display:block;
}

.content li, .content li li, .content ol li ul li {
    list-style-image: url(../img/dot.png);
    margin:0 0 1px 15px;
    *margin-left:17px; /* IE Hack */
    padding-left:3px;
    *padding-left:5px; /* IE Hack */
    line-height:18px;
}

.content ol li, .content ul li ol li,  .content ol li ol li {
    list-style-position:outside;
    list-style-image:none;
    margin:0 0 3px 25px;
    *margin-left:23px; /* IE Hack */
    padding:0;
    line-height:18px;
}

.content-nomenu{ border-top: none}
.homepage-content{ border-top: none; padding-top: 0;}
.fullpage-content { width: 980px; margin-right: 0;  }

.content img {margin: 4px 0 10px 0;}
.content p img {margin: 4px 0 10px 0;}

.link-list a {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #000;
    text-decoration:none;
    background-position: 0 14px;
}
.left {margin-right: 25px; float: left;}
.right {margin-left: 25px; float: right;}

img.left { margin-right:25px; }
img.right { margin-left:25px; }
/* Sitemap, */
#epfl_sitemap li {
    list-style-type:none; list-style-image:none;
    margin:0 0 0 5px; padding:1px 0 3px 16px; }


/********************************** Boxes *************************************/
.box{ margin-bottom: 40px; margin-right: 4px; width: 324px; }
.fullbox{ margin-bottom: 40px; margin-right: 4px; width: 644px; }

.content .box { float: left; }

.box h3, .fullbox h3 {
    font-family: Impact, "Arial Black","DejaVu Sans", Arial, Helvetica , sans-serif;
    font-weight: normal; font-size:22px; letter-spacing:0.1em; line-height:26px;
    color: #000;
    text-transform: uppercase;
    padding: 1px 0 4px 1px;
    border-bottom:1px solid #000;
    margin: 0 0 10px 0;}
.fullbox h3 { margin-bottom: 4px; }
.box h4, .fullbox h4 {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px; margin: 0; line-height: 18px; }
.box h5, .fullbox h5 {font-weight: bold; font-size: 13px; margin: 0;}
.box h6, .fullbox h6 {font-size: 13px; margin: 0;}
.box p, .fullbox p { margin-bottom:2px; padding-top: 0;}
.box ul, .fullbox ul { list-style-type: none; padding-top: 3px; margin-right: 0;}

.two-cols li {
    float:left;
    width:140px;
    padding:0 0 0 1px;
    /* IE Hack to display bullets */
    *margin-left:0;
    *padding-left:15px;
    *background-image:url(../img/dot.png);
    *background-repeat:no-repeat;
    *background-position:0 7px;
}

/* For the right box link list */
.box.two-cols li { margin:0 4px 0 0; width:157px; }
.right-col .two-cols.link-list li { width:160px;}

.box.two-cols div.box-col, .box .two-cols div.box-col,
.fullbox.two-cols div.box-col, .fullbox .two-cols div.box-col { float: left; width: 160px; }
.box.two-cols div.box-left-col, .box .two-cols div.box-left-col{ margin-right:4px;}
.box .button { margin-top: 4px; }
.box blockquote {margin-top: 6px;}

.home-navpanel { margin-bottom: 44px; line-height: 18px;}
.home-navpanel .unit-col {line-height: 14px; }
.home-navpanel .unit-col div:first-child {padding-top: 4px; padding-bottom: 5px}
.homepage-content .home-navpanel .unit-col div:first-child {padding: 2px 8px}


.home-navpanel, .home-navpanel a, .home-navpanel p,
.home-navpanel h2, .home-navpanel h3, .home-navpanel h4 {color: #fff; }
.home-navpanel h3 {
    font-family: "Arial black", Arial, Helvetica, sans-serif;
    font-weight: bold; text-transform: none; font-size: 18px; line-height: 20px; letter-spacing: 1px;
    border: none; margin-top:3px; /* new margin-top:3px; */
}
.home-navpanel a { background-image: url("../img/underline-white.gif"); }
.box-flat-panel { padding: 6px 8px 8px 8px; width: 308px;} /* could be done as .box.home-navpanel. Say thanks to MSIE6 buggy selectors */
.box-flat-panel h3 { padding: 0; margin: 0 0 2px 0; }

.unit-col{width: 160px; margin: 0 4px 0 0; padding:0;float: left; font-size: 12px;}
.unit-col a { background-position: 0 13px; }
.last-col{ margin-right: 0;}
.unit-cell{ margin: 0 0 4px 0; height: 86px; overflow: hidden; padding: 2px 8px;}
.unit-2-cells{ height: 180px; padding: 2px 8px; margin: 0 0 4px 0; overflow: hidden; }
.unit-3-cells{ height: 274px; padding: 2px 8px; margin: 0 0 4px 0; overflow: hidden;}
.last-cell{ margin: 0;}
.unit-3-cells ul {padding-top:5px;}


/******************************** News block **********************************/
.teaser-head {
   font-family:  Impact, "Arial Black","DejaVu Sans", Arial, Helvetica , sans-serif;
   font-size: 15px;
   line-height: 16px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   padding-bottom: 1px;
   display: block;
}
.news-text { font-family: Arial, Helvetica, sans-serif; line-height: 14px; font-size: 12px; }
.news-text h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; font-size: 13px; line-height: 14px; letter-spacing: 0;
    margin: -1px 0 0 0;
    padding-bottom: 3px;
}
.news-text a{ background:none; }
.news-text .read-more, .memento .read-more { background: url(../img/arrow-more.gif) no-repeat 0 4px; width: 12px; height: 12px; margin-left: 4px; display: inline-block; }

.actu-template-6 .news-text h2, .actu-template-6 .news-text .heading { line-height: 16px; }
.actu-template-6.list-layout li { padding-bottom: 4px; border-bottom: 1px dotted black; }
.actu-template-6.list-layout .news-text { border-bottom: none; }
    
.memento .read-more { background-image: url(../img/arrow-more-white.gif); }

.news-text span.date {
    font-family:  Georgia, 'Times New Roman', Times, serif; font-size: 12px; font-style: italic; font-weight: bold;
    color: #000; padding-right: 4px; }
.news-text p { margin: 0; float: left;}
.news-text p img{ margin: 0; vertical-align: top;}
.news-text .heading { font-size: 12px; font-weight: normal; }

.news-video-overlay { background: url("../img/icon_video.png") no-repeat scroll center center transparent; position: absolute; width: 160px; height: 90px; left:0; top:0; }
.heading-news .news-video-overlay { width: 324px; height: 184px; }

ol.all_actu h4, ul.all_actu h4 { margin-top:0; padding-top:0;}

.content .all_actu li { padding:0; margin:0;}

ul.news-list { float: left; width: 652px; margin: 0 0 40px 0; padding: 0;}
.news-list li { margin: 0 4px 4px 0; padding: 0; list-style-image:none; list-style-type:none;}
.news-list img.news-img { width: 160px; float: left; margin: 0}
.news-list li.heading-news h2 {
    font-family: "Arial black", Arial, Helvetica, sans-serif;
    letter-spacing: 1px; font-size: 18px; line-height: 20px;
    padding-bottom: 2px;
    font-weight: normal;}
.news-list li.heading-news .news-img{ width: 324px; height: 184px;}

ul.list-layout { padding-top: 4px; border-top: 1px solid #000; overflow: hidden; width: 656px; }
.list-layout li { float:left; width: 324px; height: 90px; position: relative; }
.list-layout img.news-img{ height:90px; margin-right: 6px;}
.list-layout li.heading-news{ height: 278px;}
.list-layout li.heading-news img.news-img{ margin: 0}
.list-layout .news-text { width: 158px; height: 89px; float: left; overflow: hidden; border-bottom: 1px solid #000; }
.list-layout li.heading-news .news-text { width: 324px; height: 92px; margin-top: 1px; }

ul.grid-layout { overflow: hidden; width: 656px;}
.grid-layout li{ width: 160px; float:left; position: relative;}
.grid-layout li.heading-news{ width: 324px; height: 184px; }
.grid-layout img.news-img{ height:90px; }
.grid-layout li.heading-news .news-text {
    position: absolute; bottom: 0; left: 0; width: 308px;  overflow: hidden;
    padding: 2px 8px;
    color: #fff; border: none;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* invalid trick, http://css-tricks.com/rgba-browser-support/ */
}
.grid-layout li.heading-news .news-text a{ color: #fff; }

ul.text-layout { overflow: hidden; width: 656px;}
.text-layout li {float: left; width: 324px; position: relative;}
.text-layout li.heading-news{ height: 278px; }
.text-layout .news-text {
    float: left; width: 324px; height: 89px; overflow: hidden;
    border-bottom: 1px solid #000;}
.text-layout li.heading-news .news-text {height: 91px; margin-top: 2px;}

/* Correction for IE6&7 but not standard conform...*/
.simple-layout li h2 {
  top:0;
  position:relative;
  _top:-20px;
  *top:-20px;
}
.simple-layout .news-text p {
  top:0;
  position:relative;
  _top:-20px;
  *top:-20px;
}

.simple-layout li { padding-bottom: 4px; padding-top:1px;
                      border-bottom: 1px dotted #000;
                      list-style-image:none; list-style-type:none;}
.simple-layout li h2 {line-height: 18px;}
.simple-layout .news-text {margin-left: 164px; display:block; float:none; width: 484px; line-height: 18px; }
.simple-layout .news-text p {margin-right: 30px; float:none;}

ul.home-list-layout { overflow:hidden; width:656px; padding-top:4px;}

.single-news { float: left; margin: 0 4px 0 0; padding: 0; width: 324px; border-bottom: 1px solid #000; position: relative;}
.single-news p { float: none;}
.single-news .news-text { height: 91px; float: left;}
.single-news h2 {
    font-family: "Arial black", Arial, Helvetica, sans-serif;
    letter-spacing: 1px; font-size: 18px; line-height: 20px;
    padding-bottom: 4px; margin:0;}
.single-news .news-img{ float: left; width: 324px; height: 184px; margin-bottom: 2px; padding: 0; margin-top:0;}
.single-news .news-video-overlay { width: 324px; height: 184px; }
 
 /*2012.03.01 new template for news without image*/   
	.single-news ul {
    margin:5px 0;
    padding:0;
    width:324px;
    }
    .single-news li {
    border-bottom:1px solid black;
    height:69px;
    margin:0;
    padding:0 0 1px 0;
    list-style:none;
    }
    .single-news .no-image .news-text {
    height:73px;
    overflow:hidden;
    }
    .single-news h4 {
    margin:4px 0 0 0;
    padding-bottom:3px;
    font-size:13px;
    line-height:14px;
    letter-spacing:0;
    }

.onethird-news {
    width:324px;
    height:282px;
    margin:28px 4px 0 0;
    padding: 0;
    float:left;
}

.onethird-news li {
    border-bottom: solid black 1px;
    height:69px;
    margin:0;
    padding:0;
    list-style:none outside none;
}

.right-col .onethird-news li { height:95px; border-bottom: none; }
.onethird-news ul { margin:5px 0; padding:0; width:324px; border-top:none; }
.onethird-news h3 { margin-bottom:0px; }
.onethird-news h4 { margin:4px 0 0 0; padding-bottom: 3px; font-size: 13px; line-height: 14px; letter-spacing: 0;}
.onethird-news .no-image .news-text { height:73px; overflow: hidden;}
.onethird-news .no-image .heading {line-height:16px; letter-spacing:0;}



.category-fr{ background-image: url(../img/news-categories-fr.png);
              background-repeat: no-repeat;
              height: 18px; width: 160px; position: absolute; left: 0; top: 0;}
.category-en{ background-image: url(../img/news-categories-en.png);
              background-repeat: no-repeat;
              height: 18px; width: 160px; position: absolute; left: 0; top: 0; }

.category-research{background-position: -1px -58px;}
.category-news{background-position: -1px -1px;}
.category-epfl{background-position: -1px -20px;}
.category-education{background-position: -1px -39px;}
.category-innovation{background-position: -1px -77px;}
.category-campus{background-position: -1px -96px;}

.category-research-white{background-position: -208px -58px; position: relative;}
.category-news-white{background-position: -208px -1px; position: relative;}
.category-epfl-white{background-position: -208px -20px; position: relative;}
.category-education-white{background-position: -208px -39px; position: relative;}
.category-innovation-white{background-position: -208px -77px; position: relative;}
.category-campus-white{background-position: -208px -96px; position: relative;}


/******************** Search results ****************************/
ol.search-results li{
  list-style-type: none;
  border-bottom: 1px solid #999C98;
  margin: 8px 0;
  padding-bottom: 8px;
}
.search-results h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; text-transform: none; font-weight:bold;
    margin: 0; padding: 0; border:none;}
.search-results a { background-position: 0 14px; font-weight: bold; letter-spacing: 0;}
.search-results p { margin:0; line-height: 18px;}
.search-results .date {font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic; font-weight: normal; color: #999C98; color: #454545; letter-spacing:1px;}
.search-results .date a {background-position: 0 14px; font-weight: normal;}
.search-results .highlight {padding: 0 4px; background-color:#000; color: #fff;}
.search-results cite {color:#999c98;}
p.results-count{border-top: 1px solid #000; margin-top: 20px; margin-right: 0;}

.pagination {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: normal;}
.pagination ul {float: left; padding: 0; margin: 9px 0 0 0;}

.pagination p {float: right;}
.pagination li {display: inline; margin: 0 8px 0 0; background: none; padding: 0 0 10px 0;}
.pagination a {background-position: 0 11px; padding-bottom: 2px;}

/*.pagination .current, .pagination-position { font-weight: normal;}*/
.pagination .current { background-color: #000; color:#fff; padding: 0 6px 2px 6px; font-weight: bold;}



/******************************** Forms ***************************************/
fieldset { border-left: 1px solid #000; margin: 20px 0 20px 160px; position: relative; padding-left: 4px;}
legend {
    color: #000; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px; line-height: 18px;
    position: absolute; left: -168px; top: 0; width: 158px; margin: 0; padding: 0;}
html>body legend {left: -160px;}

.top-aligned label { display: block; }
.top-aligned fieldset label {display: inline;}

.left-aligned label { display:block; float: left; clear:left; width: 160px; text-align: left;}
.left-aligned input, .left-aligned textarea {  margin-left: 4px; width: 324px;}
.left-aligned fieldset label {display: inline; width: auto; float: none;}

/****************************** Publications **********************************/
.infoscience_export li.infoscience_record{ list-style-image: none; margin: 0 0 4px 0; padding: 0 0 4px 0;}


.infoscience_header1 {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    font-size:18px;
    letter-spacing:1px;
    line-height:22px;
    margin-bottom: 8px;
    margin-top: 15px;
}
.infoscience_header2 { color: #000; font-family: Arial, Helvetica, sans-serif;
     font-weight: bold; font-size: 13px; margin-bottom: 8px; margin-top: 4px;
     line-height: 19px;
     padding-left: 8px;
     padding-bottom: 1px;
     background: url(../img/main-navigation.png);

}
.infoscience_export .img_file {width: 160px; margin-right: 4px; float: left; }
.infoscience_record {border-bottom: 1px dotted #000; margin-top: 8px; padding-bottom: 7px; }
.infoscience_export ul li:last-child {border-bottom: none; }

.infoscience_record h3.infoscience_title {
    color: #000; font-family: Arial, Helvetica, sans-serif; letter-spacing: 0;
    font-weight: bold; font-size: 13px; line-height: 15px; text-transform: none;
    padding-bottom: 3px; margin: 0; border: none; }
.infoscience_record p {margin-bottom: 0;}
.infoscience_bullet { float: left; text-align: right; width: 3em;}

.infoscience_record_bulleted .infoscience_data { margin-left: 4em; }
.infoscience_abstract { padding-top: 8px;}
.infoscience_links {padding-top: 8px; font-size: 11px; letter-spacing: 1px;font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;  clear: left;}
.infoscience_links a {background-position: 0 12px; padding-bottom: 1px; }/*as soon as dashes have been removed... margin-right: 20px;}*/


/*********************************** Trombinoscope *************************************/
ol.people-list li {
    list-style-type: none;
    border-bottom:1px dotted #000;
    margin: 8px 0;
    padding-bottom:8px;
    line-height:18px;
}

ol.people-list div { float: left; margin-right: 4px;}
ol.people-list div.clear { float: none; }
ol.people-list .name { font-weight: bold; width:210px;}
ol.people-list .role { width: 180px; }
ol.people-list .place { width: 90px; }
ol.people-list .phone { width: 110px; margin-right: 0;}

ul.bottin { list-style-type:outline;  padding:0; margin:0; }
ul.bottin li { 
    list-style:none;
    padding:0; margin:0 3px 0 0;
    line-height:18px; float:left;
    width:160px;
    height:290px;
}

ul.bottin div.picture {
    margin:0 0 4px 0; height:140px;
    overflow:hidden;
    text-align:left;
}
ul.bottin div.picture img { height:140px; margin:0 0 7px 0; border: none }
ul.bottin div.picture a { background-image:none; }
ul.bottin div.button {width: 23px; margin-right: 5px; }
ul.bottin div.name { padding-top:2px; font-weight:bold;}
ul.bottin div.function { clear:both; }
ul.bottin table.contact { margin-top:5px; border-collapse:collapse; }
ul.bottin table.contact td { padding:0; margin:0; vertical-align:top; }
ul.bottin .photo_box {padding: 0 10px 0 0; float: left; overflow: hidden; width:125px;}


/********************************* Study plan *********************************/
#content .line-up{ border-top: 1px solid #000; padding-top:1px; }
#content .line-down{ border-bottom: 1px dotted #000; padding-top:1px;}
#content .first-line{
    background: url('../img/main-navigation.png') repeat ;
    margin-bottom:4px; margin-top:1px;
    height:38px; width:100%;
}
#content .line{ margin-bottom: 3px; margin-top:2px; width:100%; }
#content .langue{ width:15px; height:38px; display:block; float:left;}
#content .cours-title{ width:75px; float:left;}
#content .cours-name{ padding-top:3px; width:220px;float:left;}
#content .cours-master{ width:193px;float:left;font-size:11px;}
#content .cours-code{ width:75px;float:left;}
#content .cours{ width:220px; float:left; font-size:11px;}
#content .section{ width:60px; float:left;}
#content .section-name{ width:60px; float:left; }
#content .enseignement{ width:85px; float:left;}
#content .enseignement-master{ width:70px; float:left;}
#content .specialisation{ width:80px; min-height:38px; float:left; }
#content .specialisation img { margin:4px 0 4px 0; }    
#content .enseignement-name{ float:left;line-height:13px; margin-bottom:2px; width:85px;}
#content .bachlor{ width:70px; height:100%; border-left:1px solid #fff; float:left;}
#content .pdm{ width:100px; height:100%; border-left:1px solid #fff; float:left;}
#content .bachlor-color{ float:left;}
#content .examen{ width:80px; border-left:1px solid #fff; float:left; font-size:11px;}
#content .examen-master{ width:60px; border-left:1px solid #fff; float:left; font-size:11px;}
#content .credit{ width:66px; height:100%; border-left: 1px solid #fff; float:left;}
.titre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic; font-size:11px;
}
.titre_bachlor{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic; font-size:11px; text-align:center;
}
.bold{ font-weight:bold; }
.cep{ width:20px; text-align:center; float:left;}
.cep-master{padding: 0 6px; }
.red-color{ 
    background-color: #e2001a; color:#fff;
    width: 68px; float:left; padding-left:1px;
}
.credit-time{
    text-align: right;
    padding-right: 10px; margin-top: 18px;
    font-weight: bold; font-size: 11px;
}
.exam-icon { width: 18px; margin-left: 3px; min-height: 38px; float:left;}
.exam-icon .little_icon { margin-right:2px;}
.bachlor-text{  text-align: center;
    padding-bottom:2px; margin-top:18px;
    color:#fff; font-size:11px;
}
#content .cours-name a { 
    font-size:13px; font-weight:bold;
    text-decoration: none; color: #000; background: url('../img/underline.gif') repeat-x 0 14px;
    }
#content .cours-name a:hover { background-image: url('../img/underline-hover.png'); }
.legende{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic; font-size: 12px; font-weight:bold;
    width: 5px; float:left; padding-right: 6px;
}
.img_legende{ float:left; width:17px; height:17px; }
#content .master{ width:48px;}



/********************* Fiches de cours ****************************************/
div.link-to-pdf {
    font-size:12pt;
    padding-top:5px;
    font-weight:bold;
}
div.link-to-pdf a { background-image: none; }

img.pdf-icon { position:relative; top:2px; }

/*** Boite "semaine de reference" ***/
table.semaineDeRef { border-collapse:collapse; }
table.semaineDeRef a, table.semaineDeRef a:hover {
    background-image: none !important;
    background-color: transparent;
}
table.semaineDeRef th {
    font-weight:bold; text-align:center; color:#000;
    background: url(../img/main-navigation.png) repeat scroll 0 0 transparent;
    border-right: solid 1px #fff;
}
table.semaineDeRef td { border-bottom: dotted 1px #000; }
table.semaineDeRef .time {
    width:50px; 
    font-weight:bold; text-align:center; color:#000;
}
table.semaineDeRef .day { width:60px; }
table.semaineDeRef .taken {
    vertical-align:middle;
    text-align:center;
    font-weight: 400; font-style:italic; font-size:9pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*** Boite "Dans les sections" ***/
ul.noNav { background-color: #fff; color: #000;}
ul.noNav a {
    display:inline; left: 0; margin: 0; padding: 0;
    text-decoration: none; color: #000;
    background: url("../img/underline.gif") repeat-x 0 14px;
}
ul.noNav a:hover { background-image: url("../img/underline-hover.png"); }
ul.noNav a.hover, ul.noNav li.hover { 
    background-image:none; background-color:transparent !important;
}
ul.noNav .expandable-hitarea { background-position: -32px -1px; }
ul.noNav .collapsable-hitarea { background-position: -48px -1px; }
ul.noNav .hitarea { left: -4px;}
ul.noNav li {
    background-color:#fff; color: #000; border:none; 
    clear:both; float:none; padding-top:20px;
}
ul.noNav li:first-child { border-top: none; padding-top: 0; }
ul.noNav ul li {
    color: #000; font-weight:300; text-align:left; border:none;
    margin-top: 4px; padding-top: 0; width: 160px; float:left; clear:right;
}
ul.noNav ul li strong { color: #000; }
ul.noNav .underline { border-bottom: 1px solid #000; }

span.nbCredits { color: red; font-weight: bold;}

/*********************************** Footer ***********************************/
#footer{
    color: #000;
    width: 980px;
    margin: 0 auto 0 auto;
    border-bottom: 1px solid #000;
    font-family: Arial, helvetica, sans-serif;
    font-size: 11px;
    padding-bottom: 0;

}
#footer a{ color: #000; background: none; font-weight: normal; }
#footer a:hover { text-decoration: underline}

#footer ul{  padding: 0; margin: 0; }
#footer li { list-style: none; display: inline; margin-right: 8px; }
#footer li:before { content: '|'; margin-right: 8px; }
#footer li:first-child:before,
#footer li.login:before { content: ''; margin: 0; }

.copyright { color:#454545}
#footer li.login {
    float: right;
    margin-right: 0;
    padding-left: 12px;
    background: url(../img/arrow-login.png) no-repeat center left;
}
