/***************************** Header 2013 **************************************/
#header2013 {
    margin-left: auto; margin-right: auto; width: 980px; padding: 0 8px; background-color: #fff;
}
#header2013 a{ background: none; }

#header2013 #nav-logo {background: none; height:46px; border-bottom: none; padding-top: 8px; margin-bottom: 11px;}
#header2013 #nav-logo a {background: none;}
#header2013 #main-menus li{
    background-color: #fff;
}
#header2013 #main-menus li.menu {
    height: 35px;
    padding-bottom: 25px;
}
#header2013 #nav-menus a.main-link {
    color: #000;
    font: bold 14px/11px Arial, helvetica, sans-serif;
    top: 8px; left: 0; bottom: auto;
    border-left: 4px solid black;
    background: none;
    padding-left: 8px;
    position: absolute;
}
#header2013 #nav-menus a.main-link:after{
    content:'\00A0'; height:6px; width:6px;
    background:url(../img/sprites-arrow.png) no-repeat; 
    position:absolute; bottom:0; right:2px;
}
#header2013 .navigation-panel {
  top: 60px;
  padding-top: 40px;
}

/*#header2013 #nav-menus li.menu:hover a.main-link:after{
    background:url(../img/sprites-arrow.png) no-repeat 0 -8px; 
}

#header2013 #nav-menus li.menu:hover {
    background-color: #000;
    color: #fff;
}

#header2013 #nav-menus li.menu:hover > a, 
#header2013 #nav-menus li.menu:hover > a > acronym{
    color: #fff;
}*/

#header2013 #nav-menus a.main-link span {
    font-size: inherit;
    margin-bottom: 5px; 
}
#header2013 #nav-menus a.main-link acronym {
    color: #000; margin-bottom: 5px; display: block;
}

#header2013 #nav-search { height: 60px;}
#header2013 #search-box { margin: 10px 0 0 0;  bottom: auto;}

#header2013 input.search{
    width: 162px;
    height: 23px;
    line-height: 23px;
    padding: 0 8px 0 8px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
    border-right: none;
    float: left;
}
#header2013 .search-filter {
    float: left;
    width: 120px; height: 23px;
    border-color: #000;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background: #fff url(../img/sprites.png) no-repeat 0 0;
    padding-left: 0;
    line-height: 23px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
}
#header2013 .search-button{
    background-image: url(../img/magnifier.png);
    width: 25px; height: 25px;
    cursor: pointer;
    vertical-align: bottom;
    text-indent: -999em;
    border: none;
    float: left;
}
#header2013 .selected-field {
  display: block;
  padding-left: 8px;
  background: url(../img/sprites.png) no-repeat -261px 0;
}
#header2013 .selected-field:hover {
    background: #000 url(../img/sprites.png) no-repeat -261px -25px;
    color: #fff;
}

#header2013 .search-filter .menu {
    width: 144px;
    position: absolute;
    left: -1px; top: 24px;
    z-index: 9999;
    padding: 4px 0 4px 0;
    border: 1px solid #000;
    border-top: none;
    background: #fff none;
    list-style-type: none;
    line-height: 18px;
    font-weight: normal;
    color: #000;
}
#header2013 .search-filter .menu label { display: block; padding: 1px 7px; cursor: pointer;}
#header2013 .search-filter .menu label:hover, 
#header2013 .search-filter .menu label:hover abbr, 
#header2013 .search-filter .menu label:hover acronym { background-color: #000; color: #fff; }
#header2013 .search-filter .menu.hidden{ position: absolute; left: -999em;}
#header2013 .search-filter .menu li { 
    display: list-item; float: none; margin-bottom: 0;
    border-bottom: 1px solid #fff; /* MSIE 6 */
    list-style-image: none;
    margin-left: 0;}
#header2013 .search-filter .menu input { margin-right: 4px; }
#header2013 #header_searchform .ui-autocomplete {
    top : 57px ;
    width:297px ;
    cursor: pointer;
}
#header2013 .ac-more{float:right;
	 font: italic bold 12px/16px Georgia,'Times New Roman',Times,serif;
         background: url("../img/underline.gif") repeat-x 0 14px;
         padding: 0; margin-right: 4px;
}
#header2013 .ac-more:hover { background-image: url("../img/underline-hover.png"); }

/**************************** Header definition *******************************/
#header{ margin-left: auto; margin-right: auto; width: 980px; padding: 0 8px; background-color: #fff;}
#header a{ background: none; }
#header input{ color: #666;}
#header input.focused{ color: #000; }
.portal{ background-color: #999c98; /* light gray */ }
.school{ background-color: #696f6e; /* dark gray */}
.short{ background-color: #474e52; /* darker gray */}

#nav-logo {
    float: left; height: 73px; width: 160px; position: relative; margin: 0 4px 0 0;
    background: url(../img/epfl.png) no-repeat 0 7px; border-bottom: 1px solid #474e52; /* darker gray */ }
#nav-logo a{ display: block; width: 160px; height: 73px;}
#main-menus { list-style: none; padding: 0; margin: 0;}
#main-menus li.menu { float: left; height: 74px; width: 160px; position: relative; cursor: pointer; }
#main-menus li.menu:hover { border-bottom: 1px solid #fff; margin-bottom: -1px;} /* bug FF4 */
#main-menus li.menu .navigation-panel {cursor: default;}
#nav-menus{ margin-right: 4px; padding: 0; float: left;}
#nav-menus li.menu:hover { background-color: #fff; color: #000;}
#nav-menus a.main-link {
    color: #fff; background: url(../img/arrow-menu.gif) no-repeat bottom right;
    position: absolute;
    bottom: 8px; left: 8px; padding-right: 12px;
    font-family: Impact, "Arial Black","DejaVu Sans", Arial, Helvetica , sans-serif;
    font-size: 22px; letter-spacing: 0.1em; text-transform: uppercase; 
    line-height:18px; font-weight:normal;}
#nav-menus a.main-link acronym { color: #fff; }
#nav-menus li.menu:hover a.main-link { background-image: url(../img/arrow-menu-on.gif); color: #000;}
#nav-menus li.menu:hover a.main-link acronym{ color: #000;}

#nav-menus a.main-link span { display: block; margin-bottom: 4px; font-size: 18px; }
#nav-menus a.main-link:hover{ background-image: url(../img/arrow-menu-on.gif);}
#nav-menus a.main-link:active{ background-image: url(../img/arrow-menu-on.gif);}
#public-menu-link { margin-right: 4px; font-weight: normal;}
#school-menu-link { margin-right: 4px; font-weight: normal;}
#brief-menu-link { font-weight: normal}
#nav-search {
    float: left;
    height: 74px; width: 324px; margin: 0;
    position: relative;
}
#search-box { margin: 0 8px; padding: 0; position: absolute; bottom: 8px; }
#search-box acronym { color: #fff; }
#searchform label{
    display: block;
    float: left;
    width:77px; height:28px;
    padding-top: 3px;
    margin-right: 0; margin-bottom: 5px;
    overflow:hidden;
    text-align:center;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, helvetica, sans-serif;
    color:#fff;
}
#searchform {margin: 0;}
#searchform label:hover {cursor: pointer;}
#searchform label.current{
    font-weight:bold;
    background:url(../img/wheretosearch.gif) no-repeat top left;}
#searchform input.search{
    width: 277px;
    height: 22px;
    line-height: 22px;
    border: none;
    border-right: 1px solid #b8b8b8;
    padding: 0 0 0 8px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#searchform button{
    background: url(../img/search.png) no-repeat top left;
    width: 22px; height: 22px;
    cursor: pointer;
    border: none;
    vertical-align: bottom;
    text-indent: -999em;
}
.navigation-panel {
    position: absolute;
    top: 74px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 8px 0 8px;
    border: none;
    background-color: #fff;
    z-index: 1; /* was 999 */
}
.navigation-panel .group {
    float: left;
    width: 160px;
    margin-right: 4px;
    padding: 0;
}

.navigation-panel ul { list-style: none; padding: 0; margin-bottom: 28px; }
.navigation-panel a{ font-family: Arial, helvetica, sans-serif; font-size: 13px; font-weight: bold;}
.navigation-panel a:hover { text-decoration: underline;}
.navigation-panel h3 {
    margin:0 0 4px 0; padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px; line-height:14px; font-weight: bold; letter-spacing:.05em;
}
.navigation-panel .group-2-cols { float: left; width: 324px; margin-right: 4px; }
.navigation-panel .last { margin: 0; }

#public-panel {left: -172px;}
#public-panel.hidden { left: -999em; }
#public-panel h3 a { color: red;}

#school-panel { left: -336px;}
#school-panel.hidden { left: -999em; }
#school-panel h3 acronym { color: #454545;}

#brief-panel { left: -500px; }
#brief-panel.hidden { left: -999em; }
#brief-panel acronym { color: #000;}
#brief-panel h3 { color: red;}
#brief-panel h3 acronym { color: red;}
#brief-panel h3 a { color: red;}
#brief-panel .large { width: 320px; margin-right:0; }
