@charset "UTF-8";

/* SASS variables */

$primary-color:     #ae0010; /* main color  */
$primary-color-sec: #7e000c; /* hover color */
$primary-color-ter: #5d0009;

$primary-color-alt: #e2001a;

$light-grey:    #cfd0ca;