python jahia2wp.py clean-one ebreton http://localhost
python jahia2wp.py generate-one ebreton http://localhost/folder
python jahia2wp.py generate-one ebreton http://localhost/folder/sub-folder
python jahia2wp.py generate-one ebreton http://localhost
vjahia2wp 
make bootstrap-mgmt 
cd jahia2wp/
