@charset "UTF-8";

/*  ---------------------------------------
    01 BASE STYLES
------------------------------------------*/

.visuallyhidden,
.hidden,
.sr-only { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
  border: 0;
}

.site {
  abbr:empty,
  acronym:empty,
  address:empty,
  b:empty,
  blockquote:empty,
  button:empty,
  cite:empty,
  code:empty,
  dd:empty,
  del:empty,
  div:empty,
  dt:empty,
  em:empty,
  h1:empty,
  h2:empty,
  h3:empty,
  h4:empty,
  h5:empty,
  h6:empty,
  i:empty,
  li:empty,
  p:empty,
  pre:empty,
  small:empty,
  span:empty,
  strike:empty,
  strong:empty,
  sub:empty,
  sup:empty {
    display: none;
    
    &[aria-hidden="false"] {
      display: block;
    }
  }
  
  span.icon:empty {
    display: inline-block;
  }
  
  .clear:empty {
    display: block;
  }
}

.entry-content {
  @include clearfix;
  
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > ul,
  & > ol
  & > dl,
  & > table,
  & > blockquote,
  & > form {
    clear: both;
  }
}

.entry-footer {
  margin-top: 20px;
}


/* --- Typography --- */

/* General typography settings */

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  background: #fff;
  color: #454545;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 100.01%;
  line-height: 1.4em;
}

/* Body copy */

p {
  line-height: 1.4em;
  margin-top: .375em;
  margin-bottom: 1em;
  padding: 0;
  
  &:empty {
    display: none;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

p,
li,
td,
th,
dt,
dd,
address {
  font-size: 13px;
  line-height: 1.3em;
}

li p,
td p,
th p,
dt p,
dd p,
blockquote p,
address p,

li li,
td li
td li,
dt li,
dd li,
address li {
  font-size: 13px;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  letter-spacing: 0;
  line-height: 1.3em;
  margin-bottom: .75em;
  @include transition-colors;
  
  &:first-child {
    padding-top: 0;
  }
}

h2,
h3 {
  font-family: "Arial black", Arial, Helvetica, Verdana, sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
h4,
h5,
h6 {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-weight: bold;
}

h1 {
  font-family: Impact, "Arial Black", "DejaVu Sans", Arial, Helvetica, sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2 {
  font-size: 27px;
  line-height: 1.4em;
}
h3 {
  font-size: 18px;
  line-height: 1.2em;
}
h4 {
  font-size: 14px;
  line-height: 1.6em;
}
h5 {
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.6em;
  text-transform: none;
}

/* Links */

a {
  box-shadow: none;
  color: #000;
  border-bottom: 1px dotted #000;
  text-decoration: none;
  transition: all .3s ease-in-out;
  
  &:visited {
    color: #000;
  }
  
  &:hover {
    border-bottom-style: solid;
  }
}

/* Lists */

ul,
ol {
  margin: 1em 0;
  padding-left: 1em;
  
  li {
    margin-left: 0;
  }
  
  ul,
  ol {
    margin-top: .5em;
  }
}

li {
  margin-bottom: .5em;
}

ul {
  list-style: none;
  padding-left: 0;
  
  li {
    padding-left: 1em;
    position: relative;
    
    &:before {
      content: "";
      background: #000;
      border-radius: 50%;
      height: 6px;
      position: absolute;
      top: .4em; right: auto; bottom: auto; left: 0;
      width: 6px;
    }
    
    li:before {
      background: transparent;
      border: 1px solid #000;
    }
  }
}

ul.list-unstyled li:before {
  display: none;
}

dl dt {
  color: #000;
  font-weight: bold;
  position: relative;
  top: 16px;
  width: 160px;
}
dl dd {
  border-left: 1px solid #000;
  margin-left: 160px;
  margin-bottom: 0;
  padding-left: 4px;
}
dl dd + dd {
  padding-top: .375em;
}

/* Misc text elements */

blockquote {
  color: #000000;
  font-family: Georgia,'Times New Roman',Times,serif;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2em;
  margin: 1em 0;
}
b, strong {
  color: #000;
  font-weight: 700;
}

abbr,
acronym {
  border: none;
  text-decoration: none;
}

/* --- Forms --- */

button,
input,
select,
textarea,
label {
  font-size: 13px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
  background: #fff;
  border-radius: 0;
  display: inline-block;
	height: 32px;
	line-height: 30px;
  padding: 0 .4em;
  vertical-align: top;
  width: auto;
}

button,
input[type="button"],
input[type="submit"] {
  @include transition-colors;
  background: #999c98;
	border-radius: 0;
	height: 32px;
	line-height: 32px;
	padding: 0 1.25em;
	
	&:hover,
	&:focus {
  	background: $primary-color;
	}
}

/* --- Tables --- */

table,
tr,
td,
th {
  border: 0;
}

td,
th {
  vertical-align: top;
}

td {
  padding: 0.2em;
  //padding-right: 20px !important;
  
  img {
    max-width: none;
    max-height: none;
  }
}

td[class*="col"] {
  width: auto;
}

/* --- Grid and structure --- */

.grid {
  @include clearfix;
}

/* --- EPFL Built resets --- */

.menu-item {
  padding: 0;
  
  &:hover {
    background: transparent;
  }
}

.epflnav .nav,
.site-content,
.site-footer,
.site-header {
  margin: 0;
}


