button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}


input[type=submit],
input[type=button],
input[type=reset],
button,
.btn,
.button {
  background-color: #007dbe;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-size: 1rem;
  font-weight: 600;
  height: 34px;
  line-height: 34px;
  margin: 0;
  padding: 0 15px;
  text-transform: uppercase;
	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color .3s ease-in-out;
	
	&:hover,
	&:active {
  	background-color: #006ea8;
    color: #fff;
	}
}