button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #bbb;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

input[type=color],
input[type=date],
input[type=datetime],
input[type=email],
input[type=tel],
input[type=month],
input[type=password],
input[type=search],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
input[type=number],
select,
textarea {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #333;
  display: block;
  height: 34px;
  margin: 0;
  padding: 6px 9px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color .3s ease-in-out;
  width: 100%;
}

input[type=number] {
  width: auto;
}

input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=month]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
  border-color: #aaa;
  box-shadow: 0 0 3px rgba(170,170,170,0.4);
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}