/*
  
Theme Name: EPFL blank
Description: Theme enfant de EPFL Master
Author: Aline Keller
Author URI: http://www.alinekeller.ch
Template: epfl-master 
Version: 1.1.0
Text Domain: epfl

*/

.header-top .widget {
  margin-bottom: 10px;
}

.header-top .widget img {
  height: auto;
  max-width: 100%;
}